<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">


<div layout:fragment="content">
    <h1>Crear Nuevo Derecho de Agua</h1>
    <form th:action="@{/derechoAguas/create}" th:object="${derechoAguas}" method="post">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="pasaje">Pasaje</label>
            <input type="text" id="pasaje" th:field="*{pasaje}" class="form-control" required />
        </div>

        <div class="form-group">
            <label for="casa">Casa</label>
            <input type="text" id="casa" th:field="*{casa}" class="form-control" required />
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
        <a th:href="@{/derechoAguas}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

</html>
