<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">


<div layout:fragment="content">
    <h1>Crear Nuevo Derecho de Agua</h1>
    <form th:action="@{/derechoAguas/save}" th:object="${derechoAgua}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del consumidor" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pasaje">Pasaje</label>
                    <input type="text" class="form-control" th:field="*{pasaje}" id="pasaje" placeholder="Escriba el pasaje de derecho" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="casa">Casa</label>
                    <input type="text" class="form-control" th:field="*{casa}" id="casa" placeholder="Escriba la casa del derecho"  required />
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Crear</button>
        <a th:href="@{/derechoAguas}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

</html>
