<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">


<div layout:fragment="content">
    <h1>Eliminar Empleado</h1>
    <h3>¿Estás seguro de que deseas eliminar este registro?</h3>
    <div>
        <hr />
        <div class="row">
            <dt class="col-sm-2">ID</dt>
            <dd class="col-sm-10" th:text="${empleado.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${empleado.nombre}"></dd>

            <dt class="col-sm-2">Direccion</dt>
            <dd class="col-sm-10" th:text="${empleado.direccion}"></dd>

            <dt class="col-sm-2">Entrada</dt>
            <dd class="col-sm-10" th:text="${empleado.entrada}"></dd>
        </div>

        <form th:action="@{/empleados/delete}" method="post">
            <input type="hidden" name="id" th:value="${empleado.id}" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a th:href="@{/empleados}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>


