<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">


<div layout:fragment="content">
    <h1>Crear Nuevo Registro</h1>
    <form th:action="@{/moras/save}" th:object="${mora}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="derechoAgua">Derecho de Agua</label>
                    <select id="derechoAgua" name="derechoAgua" th:field="*{derechoAgua}" class="form-control" required>
                        <option value="" disabled selected>Seleccione un Derecho de Agua</option>
                        <option th:each="da : ${derechoAguas}" th:value="${da.id}" th:text="${da.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="mora">Mora</label>
                    <input type="text" class="form-control" id="mora" th:field="*{mora}" placeholder="Escriba la mora por retraso de pago" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Crear</button>
        <a th:href="@{/moras}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

</html>