<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">


<div layout:fragment="content">
    <h1>Crear Nuevo Registro</h1>
    <form th:action="@{/registroAguas/save}" th:object="${registroAgua}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pago">$ Pago</label>
                    <input type="number" id="pago" th:field="*{pago}" class="form-control" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaPago">Fecha de Pago</label>
                    <input type="datetime-local" id="fechaPago" th:field="*{fechaPago}" class="form-control" required>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Crear</button>
        <a th:href="@{/registroAguas}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

</html>
