<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Detalles de Registro de Agua</h1>
    <div>

        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-10" th:text="${registroAgua.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${registroAgua.derechoAgua.nombre}"></dd>

            <dt class="col-sm-2">Pasaje</dt>
            <dd class="col-sm-10" th:text="${registroAgua.derechoAgua.pasaje}"></dd>

            <dt class="col-sm-2">Casa</dt>
            <dd class="col-sm-10" th:text="${registroAgua.derechoAgua.casa}"></dd>

            <dt class="col-sm-2">Pago</dt>
            <dd class="col-sm-10" th:text="${registroAgua.pago}"></dd>
            
            <dt class="col-sm-2">Fecha de Pago</dt>
            <dd class="col-sm-10" th:text="${registroAgua.fechaPago}"></dd>
        </dl>
        <!-- Botones alineados en línea y más pequeños -->
        <a th:href="@{/registroAguas/edit/{id} (id = ${registroAgua.id})}" class="btn btn-outline-info">Editar</a>
        <a th:href="@{/registroAguas}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
