<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Editar Registro de Agua</h1>
    <form th:action="@{/registroAguas/save}" th:object="${registroAgua}" method="post">
        <input type="hidden" th:field="*{id}">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="derechoAgua">Derecho de Agua</label>
                    <select class="form-control" th:field="*{derechoAgua.id}" id="derechoAgua" required>
                        <option th:each="derechoAgua : ${derechoAguas}"
                                th:value="${derechoAgua.id}"
                                th:text="${derechoAgua.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pago">Pago</label>
                    <input type="number" class="form-control" th:field="*{pago}" id="pago" placeholder="Escriba el monto del pago" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaPago">Fecha de Pago</label>
                    <input type="datetime-local" class="form-control" th:field="*{fechaPago}" id="fechaPago" required>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Modificar</button>
        <a th:href="@{/registroAguas}" class="btn btn-secondary">Regresar</a>
    </form>
</div>
</html>
