<html lang="en"
      xmlns:layout="http://www.ultrap.net.nz./thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.thymeleaf.org" >

<div layout:fragment="content">
    <h1>Crear nuevo Consumo</h1>
    <form th:action="@{/consumos/save}" th:object="${consumo}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre" placeholder="Escriba el nombre del consumidor" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="pasaje">Pasaje</label>
                    <input type="text" class="form-control" th:field="*{pasaje}" id="pasaje" placeholder="Escriba el pasaje del consumidor" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="casa">Casa</label>
                    <input type="text" class="form-control" th:field="*{casa}" id="casa" placeholder="Escriba la casa del consumidor" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="consumo">Consumo</label>
                    <input type="text" class="form-control" th:field="*{consumo}" id="consumo" placeholder="Escriba el consumo del cliente" required>
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button> |
        <a th:href="@{/consumos}">Regresar</a>
    </form>

</div>
