<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">
    <h1>Eliminar Consumo</h1>
    <h3>¿Estás seguro que deseas eliminar el registro seleccionado?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-10" th:text="${consumo.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${consumo.nombre}"></dd>

            <dt class="col-sm-2">Pasaje</dt>
            <dd class="col-sm-10" th:text="${consumo.pasaje}"></dd>

            <dt class="col-sm-2">Casa</dt>
            <dd class="col-sm-10" th:text="${consumo.casa}"></dd>

        </dl>

        <form th:action="@{/consumos/delete}" method="post">
            <input type="hidden" name="id" th:value="${consumo.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger"> |
            <a th:href="@{/consumos}" class="btn btn-secondary">Regresar</a>
        </form>
    </div>
</div>
</body>
</html>
