<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Eliminar Mecha</h1>
    <h3>¿Estás seguro que deseas eliminar este registro?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Id</dt>
            <dd class="col-sm-10" th:text="${consumo.id}"></dd>

            <dt class="col-sm-2">Nombre</dt>
            <dd class="col-sm-10" th:text="${mecha.derechoAgua.nombre}"></dd>

            <dt class="col-sm-2">Pasaje</dt>
            <dd class="col-sm-10" th:text="${mecha.derechoAgua.pasaje}"></dd>

            <dt class="col-sm-2">Casa</dt>
            <dd class="col-sm-10" th:text="${mecha.derechoAgua.casa}"></dd>

            <dt class="col-sm-2">Consumo</dt>
            <dd class="col-sm-10" th:text="${mecha.cantidadMecha}"></dd>
        </dl>

        <form th:action="@{/mechas/delete}" method="post">
            <input type="hidden" name="Id" th:value="${mecha.id}">
            <input type="submit" value="Eliminar" class="btn btn-danger">
            <a th:href="@{/mechas}">Regresar</a>
        </form>
    </div>
</div>

</html>