<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Detalles de Mecha</h1>
    <hr />
    <div class="row">
        <dt class="col-sm-2">ID</dt>
        <dd class="col-sm-10" th:text="${mecha.id}"></dd>

        <dt class="col-sm-2">Derecho de Agua</dt>
        <dd class="col-sm-10" th:text="${mecha.derechoAgua.nombre}"></dd>

        <dt class="col-sm-2">CantidadMecha</dt>
        <dd class="col-sm-10" th:text="${mecha.cantidadMecha}"></dd>

    </div>

    <a th:href="@{/mechas/edit/{id}(id=${mecha.id})}" class="btn btn-outline-info">Editar</a>
    <a th:href="@{/mechas}" class="btn btn-outline-secondary">Regresar</a>
</div>
</html>